body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dashboard-links {
    display: flex;
    flex-direction: row;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin: 0.5em 0.5em 1em 0.5em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    background: #282c34;
    color: #61dafb;
    border-radius: 0.2em;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.album-item {
    text-decoration: none;
    color: #282c34;
    text-transform: capitalize;
}

thead {
    background-color: #282c34;
    color: lightgrey;
}