.Header-navbar{
	background: #F7CBC8;
	color: #928179
}
.custom-nav{
	color: #928179 !important;
	font-weight: 500;
}
.custom-nav:hover{
	color: #fff !important;
}
.custom-btn {
	background-color: #928179 !important;
	color: #fff !important;
	border: 2px solid #fff !important;
	padding: 10px 15px !important;
}