.Footer{
	margin: 0 auto;
	padding: 0;
	background-color: #928179;
	height: 100px;
	width: 100%;
	overflow: hidden;
	bottom: 0px;
	display: flex;
	align-items: center;
}
.Footer-icon{
	cursor: pointer;
}